@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login Required To View Content</h1>
    <p>You must <a asp-controller="Login_" asp-action="Index"> Login</a> to view this content.</p>
</div>
